<div class="loanRequestContainer">
  <h2>Loan Requests</h2>
  <div class="loanRequestTable">
    <div class="loanRequestRow">
      <div class="loanRequestColumn">UserId</div>
      <div class="loanRequestColumn">Username</div>
      <div class="loanRequestColumn">Loan-Amount</div>
      <div class="loanRequestColumn">Annual-Income</div>
      <div class="loanRequestColumn">Loan Used For</div>
      <div class="loanRequestColumn">Action</div>
    </div>
    <div class="loanRequestRow">
      <div class="loanRequestColumn">12001</div>
      <div class="loanRequestColumn">Alex</div>
      <div class="loanRequestColumn">200000</div>
      <div class="loanRequestColumn">6 LPA</div>
      <div class="loanRequestColumn">Business</div>
      <div class="loanRequestColumn">
        <button>Confirm</button>
        <button>Reject</button>
      </div>
    </div>
  </div>
</div>
