<div class="loanRequestTable">
  <div class="loanRequestRow">
    <div class="loanRequestColumn">UserId</div>
    <div class="loanRequestColumn">Username</div>
    <div class="loanRequestColumn">Loan-Amount</div>
    <div class="loanRequestColumn">Annual-Income</div>
    <div class="loanRequestColumn">Loan Used For</div>
    <div class="loanRequestColumn">Status</div>
    <div class="loanRequestColumn">Action</div>
  </div>
  <div class="loanRequestRow" *ngFor="let loan of loans">
    <div class="loanRequestColumn">{{ loan.user.id }}</div>
    <div class="loanRequestColumn">{{ loan.user.username }}</div>
    <div class="loanRequestColumn">{{ loan.amount }}</div>
    <div class="loanRequestColumn">{{ loan.annualIncome }} LPA</div>
    <div class="loanRequestColumn">{{ loan.loanUsedFor }}</div>
    <div class="loanRequestColumn">{{ loan.loanStatus || "Pending" }}</div>
    <div class="loanRequestColumn">
      <button
        class="btn btn-primary"
        *ngIf="loan.loanStatus === 'Pending'"
        (click)="updateLoan(loan.id, 'Approved')"
      >
        Confirm
      </button>
      <button
        class="btn btn-danger"
        *ngIf="loan.loanStatus === 'Pending'"
        (click)="updateLoan(loan.id, 'Rejected')"
      >
        Reject
      </button>
    </div>
  </div>
</div>
